<?xml version="1.0" encoding="utf-8" ?>
<log4net outdate_days="5">
  <logger >
    <level value="Info" />
  </logger>
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="App_Data\Logs\" />
    <param name="AppendToFile" value="true" />
    <param name="DatePattern" value="yyyy-MM-dd.LOG" />
    <param name="StaticLogFileName" value="false" />
    <param name="RollingStyle" value="Date" />
    <!--最小锁定模型以允许多个进程可以写入同一个文件-->
    <param name="LockingModel" value="log4net.Appender.FileAppender.MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c [%M] - Line %L:%m%n" />
    </layout>
  </appender>

  <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
    <bufferSize value="0" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <!--junnotes-->
    <!--<connectionString value="DATABASE=MiQi;SERVER=129.28.40.137;UID=sa;PWD=Miqi123456@;" />-->
    <connectionString value="server=129.28.40.137;database=MiQi;integrated security=false;persist security info=True;UID=sa;PWD=Miqi123456@" />
    <param name="CommandType" value="StoredProcedure" />
    <param name="CommandText" value="sp_AddLog" />
    <!--<param name="CommandText" value="INSERT INTO ProductLog ([PostTime],[LogLevel],[ActionDesc],[ApiRoute],[UserID],[RequestType],[RequestStatus]) VALUES (@log_date, @log_level,  @message, @api_route,@user_id,@request_type,@request_status)" />-->
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <!-- <parameter>
        <parameterName value="@thread"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread"/>
        </layout>
      </parameter>-->
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <!--<parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="255"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>-->
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <!--<parameter>
        <parameterName value="@exception"/>
        <dbType value="String"/>
        <size value="2000"/>
        <layout type="log4net.Layout.ExceptionLayout"/>
      </parameter>-->
    <parameter>
      <parameterName value="@table_name" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{table_name}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@api_route" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{api_route}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@user_id" />
      <dbType value="Int16" />
      <size value="16" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{user_id}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@request_type" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_type}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@request_status" />
      <dbType value="Int16" />
      <size value="16" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%property{request_status}" />
      </layout>
    </parameter>
  </appender>
  <root>
    <level value="ALL" />
    <!--<appender-ref ref="ADONetAppender" />-->
    <appender-ref ref="LogFileAppender" />
  </root>
</log4net>